.side-bar{
  width: 284px;
  grid-area: sidebar;
  background: $side-bar-background;
  backdrop-filter: blur(17px);
  .side-bar-content{
    position: sticky;
    //top: 5rem;
    //display: block !important;
    height: 100vh;
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //.nav-link-section{
    //  border-bottom: 1px solid #2B2B2B;
    //  padding-bottom: 1rem;
    //}
    .logo-container{
      padding: 2.1875rem 0;
      text-align: center;
    }
    .nav-list{
      li{
        list-style: none;
        a{
          color:$red-600;
        }
        .nav-link {
          padding: 0.75rem 2rem;
          .icon {
            fill: $side-bar-item-icon-color;
            width: 20px;
            margin-right: 2rem;
            &.icon-right-arrow{
              transition: transform 0.35s ease;
              transform-origin: 0.5em 50%;
              width: 12px;
              height: 14px;
            }
          }

          .text {
            text-align: center;
            color:$side-bar-item-color;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
          }
          &.active{
            border-right: 3px solid $red-600;
            border-radius: 2px;
            background: $side-bar-item-active-background;
            .text{
              color: $white-100;
              font-weight: 600;
              font-size: 1rem;
              line-height: 150%;
            }
            .icon {
              fill:  $side-bar-item-active-icon-color;
            }
          }
        }
      }
      .more-list-header{
        cursor: pointer;
        &.opened{
          background: $side-bar-item-active-background;
          .text{
            font-weight: 600;
            color: $white-200;
          }
          .icon-right-arrow{
            fill: $white-200;
            transform: rotate(90deg);
          }
        }
      }
      .more-list{
        background: $side-bar-item-active-background;
        .list-item{
          padding: 0.5rem 2rem  0.5rem 3.375rem;
          color: $side-bar-item-color;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          &:first-child{
            padding-top: 1.25rem;
            border-top: 1px solid #2B2B2B;
          }
          &:last-child{
            padding-bottom: 1.25rem;
          }
          .icon-item{
            fill: $white-600;
            width: 14px;
            height: 14px;
            margin-right: 0.5rem;
          }
          .icon-redirect{
            stroke: $white-600;
            width: 10px;
            height: 10px;
            margin-left: 0.5rem;
          }
          &:hover{
            color: $white-100;
            cursor: pointer;
            .icon-item{
              fill: $red-600;
            }
            .icon-redirect{
              stroke: $white-100;
            }
          }
        }
      }
    }
    .balance-section{
      .heading{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
        color: $side-bar-balance-heading-color;
      }
      .balance-list {
        border-top: 1px solid #2B2B2B;
        padding: 1.5rem;
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;

          //&.first-child{
          //  margin-bottom: 0.8rem;
          //}

          .logo {
            display: flex;
            align-items: center;
              .metamask-logo{
                width: 18px;
                height: 18px;
                margin-left: 10px;
                cursor: pointer;
            }
            img {
              margin-right: 10px;
              width: 24px;
              height: 24px;
            }

            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              text-align: center;
              color:  $side-bar-balance-color;
            }
          }

          .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
            color: $side-bar-balance-color;
          }

          .balance {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            margin: 0;
            color: $side-bar-balance-color;
          }
        }
      }
      .social-links{
        border-top: 1px solid #2B2B2B;
        padding: 0.75rem 1.5rem;
        display: flex;
        align-items: center;
        margin: 0;
        .title{
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          color: $gray-100;
          margin-right: 10px;
        }
        .social-links-list{
          margin: 0;
          a{
            margin-right:10px;
            .icon{
              fill: $side-bar-social-link-color;
              width: 12px;
              height: 12px;
            }
            &:hover{
              .icon{
                fill: $side-bar-balance-color;
              }
            }
          }
        }
      }
      .footer{
        padding: 0 1.5rem 0.75rem 1.5rem;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: $gray-100;
        opacity: 0.7;
        p{
          margin: 0;
          color: #A6A6A6;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .icon-button.info {
        padding-left: 5px;
        background: no-repeat;
        border: none;
        outline: none!important;
      }
    }
  }
}
